.title{
    font-family:  cursive;
    background-color: aqua;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

}
 a{
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    padding: 10px;
    
}
#home{
 
    margin: 10px;
    
}
.image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin:10px;
    padding: 5px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkblue;
background-color: lime;
padding: 5px;

}
ul,ol li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:blueviolet;
}
body{
    background-color: moccasin;
}